@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.menu {
  width: 100%;
  height: 100vh;
  background-color: #342b2b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  column-gap: 40px;
  display: flex;
  color: white;
}
.box__left {
  display: inline-block;
  margin: 0;
}
.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
}
.chess-board th {
  padding: 0.5em;
}
.chess-board td {
  border: 1px solid;
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
}
.chess-board .white {
  background: #f0d9b5;
}
.chess-board .black {
  background: #b58863;
}
.chess-board img {
  width: 60px;
  height: 60px;
}
.play{
  width: 220px;
  height: 80px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: aliceblue;
  font-weight: 900;
  border: none;
  background-color: #68B74D;
}
.box__right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px); /* 8 колонок */
  grid-template-rows: repeat(8, 50px);    /* 8 строк */
  width: 400px;
  height: 400px;
}

.cell {
  width: 50px;
  height: 50px;
}
.cell.selected{
  border: 4px solid red;
}
.cell.cell.selectedGreen{
  border: 4px solid green;
}

/* Черно-белая раскраска */
.cell:nth-child(odd) {
  background-color: #342b2b; /* Черный */
}

.cell:nth-child(even) {
  background-color: #fff; /* Белый */
}

/* Смещение цветов на четных строках */
.chessboard > *:nth-child(-n+8):nth-child(odd){
  background-color: #fff;
}
.chessboard > *:nth-child(-n+8):nth-child(even){
  background-color: #342b2b;
}
.chessboard > *:nth-child(n+17):nth-child(-n+24):nth-child(odd){
  background-color: #fff;
}
.chessboard > *.cell:nth-child(n+17):nth-child(-n+24):nth-child(even){
  background-color: #342b2b;
}
.chessboard > *:nth-child(n+33):nth-child(-n+40):nth-child(odd){
  background-color: #fff;
}
.chessboard > *.cell:nth-child(n+33):nth-child(-n+40):nth-child(even){
  background-color: #342b2b;
}
.chessboard > *:nth-child(n+49):nth-child(-n+56):nth-child(odd){
  background-color: #fff;
}
.chessboard > *.cell:nth-child(n+49):nth-child(-n+56):nth-child(even){
  background-color: #342b2b;
}
img{
  width: 45px;
  height: 45px;
}
.arr{
  height: 100vh;
}